@model IEnumerable<GoogleMap.Models.Marker>
@{
    ViewBag.Title = "Index";
}

<h2>DANH SÁCH ĐỊA ĐIỂM CHỜ DUYỆT</h2>

<p>
    @Html.ActionLink("Quay lại", "Index", "Marker")
</p>
<table style="width: 100%; border-collapse: separate">
    <tr>
        <th style="width: 50%">Tên địa diểm
        </th>
        <th>Latitude
        </th>
        <th>Longitude
        </th>
        <th style="white-space: nowrap">Loại danh mục
        </th>
        <th style="white-space: nowrap">Danh mục
        </th>
        <th style="width: 50%">Địa chỉ
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="white-space: nowrap">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td style="white-space: nowrap">
                @Html.DisplayFor(modelItem => item.SubCategory.Category.Name)
            </td>

            <td style="white-space: nowrap">
                @Html.DisplayFor(modelItem => item.SubCategory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td style="white-space: nowrap">
                @Html.ActionLink("Sửa", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }) |
                @Html.ActionLink("Upload Hình", "UploadPicture", new { id = item.Id }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
